// Color system

:root {
  --primary: #2a2d3b;
  --secondary: #fa7268;
  --bg-default: #f8f9fd;
  --bg-white: #ffffff;
  --bg-enable: #fa7268;
  --bg-insert: #dbff90;
  --bg-form: #e4e7f4;
  --border: #e1e1e1;
  --text-white: #ffffff;
  --table-title: #9198af;
  --table-hover: #fff3f2;
}
